In [7]:
# NAME: Arshea Anjum Taifa
# PERIOD: 5

In [46]:
#EXAMPLE#
#Create a list for the height_in_inches column that consists of all  of the values in that column.

heights = [71, 69, 70, 71, 68, 70, 70]

In [48]:
# Your Turn: Create a list for the name, weight, and 
# net_worth columns.
name = ["Jin", "Suga", "J-Hope", "RM", "Jimin", "V", "Jungkook"]
weight = [136, 138, 132, 145, 143, 137, 145]
net_worth = [8, 8, 12, 8, 8, 8, 8]

In [13]:
#EXAMPLE#
#Print the data type of the elements in the height list. 
print()
print("Height elements are stored as " + str(type(heights[0])))

Height elements are stored as <class 'int'>

In [15]:
# Your Turn: Print the data types of the elements in the other lists. 
print()
print("Name elements are stored as " + str(type(name[0])))
print()
print("Weight elements are stored as " + str(type(weight[0])))
print()
print("Net Worth elements are stored as " + str(type(net_worth[0])))

Name elements are stored as <class 'str'>

Weight elements are stored as <class 'int'>

Net Worth elements are stored as <class 'int'>

In [17]:
#EXAMPLE#
#Print the length of the heights list, the max value, the min value and the sum of the heights list.
print()
print("The length of the heights list is " + str(len(heights)))
print("The minimum height is " + str(min(heights)))
print("The maximum height is " + str(max(heights)))
print("The sum of all heights is " + str(sum(heights)))

The length of the heights list is 7
The minimum height is 68
The maximum height is 71

TypeError: 'int' object is not callable

In [19]:
# Your Turn: Print the length, the max value, the min value and the 
# sum of the other lists. Note: The sum function will not work on a string.
# How do you suppose the min and max work with strings based on what
# is printed?
print()
print("The length of the name list is " + str(len(name)))
min_name = "         "
for x in name:
    if (len(x) < len(min_name)):
        min_name = x 
print("The shortest name in the list is " + min_name)
max_name = ""
for y in name:
    if (len(y) > len(max_name)):
        max_name = y
print("The longest name in the list is " + max_name)
count = 0
for num in name: 
   count = count + len(num)
print("The sum of all letters in everyone's names is " + str(count))

print()
print("The length of the weight list is " + str(len(weight)))
print("The minimum weight is " + str(min(weight)))
print("The maximum weight is " + str(max(weight)))
print("The sum of all weights is " + str(sum(weight)))

print()
print("The length of the net worth list is " + str(len(net_worth)))
print("The minimum net worth is " + str(min(net_worth)))
print("The maximum net worth is " + str(max(net_worth)))
print("The sum of all net worth is " + str(sum(net_worth)))

The length of the name list is 7
The shortest name in the list is V
The longest name in the list is Jungkook
The sum of all letters in everyone's names is 29

The length of the weight list is 7
The minimum weight is 132
The maximum weight is 145

TypeError: 'int' object is not callable

In [21]:
#EXAMPLE#
countries = ["Australia", "Egypt", "Greece", "India", "Jamaica", "Mexico",
"Spain", "United States"]
sugar_1980 = [152, 71.8, 73.5 ,52.2, 153, 124, 83.7, 158]
sugar_1990 = [137, 86.6, 87.3, 56, 142, 141, 76.1, 173]
sugar_2000 = [123, 82.1, 90.4, 63.7, 161, 132, 81, 189]
sugar_2010 = [126, 81.2, 77.3, 59.9, 137, 136, 83.2, 167]

"""
Add the sugar consumed in 1980 and 1990 lists. Print the result. 
What happens?
"""

print()
print(sugar_1980 + sugar_1990)

[152, 71.8, 73.5, 52.2, 153, 124, 83.7, 158, 137, 86.6, 87.3, 56, 142, 141, 76.1, 173]

In [23]:
# Your Turn: Add the countries and the sugar_2010 list. Print the result.
# What happens here? -- The contents of the second list appends to the first list
print()
print(countries + sugar_2010)

['Australia', 'Egypt', 'Greece', 'India', 'Jamaica', 'Mexico', 'Spain', 'United States', 126, 81.2, 77.3, 59.9, 137, 136, 83.2, 167]

In [25]:
#EXAMPLE#
"""
Add an element from the sugar_1990 list to an element 
from the sugar_2000 list. 
Print the result.
"""
print()
print("First element in sugar_1990 + first element in sugar_2000 = " 
+ str(sugar_1990[0] + sugar_2000[0]))

First element in sugar_1990 + first element in sugar_2000 = 260

In [27]:
# Your Turn: Add the first two elements of the countries list. 
# Print the result. What happens here? -- It appends the second element of the list in front of the first element of the list
print()
print("First element in countries list + Second element in counties list = " 
+ str(countries[0] + countries[1]))

First element in countries list + Second element in counties list = AustraliaEgypt

In [29]:
#EXAMPLE#
"""
Decide whether the following expressions are true or false. 
Add the print function to the expressions to check your answers.
"""

print()
print(sugar_1990[0] > sugar_1980[1])  # prints True

# Take a guess and then add the print function to check
# Guess: False
print(sugar_2010[0] == sugar_2000[1])

# Take a guess and then add the print function to check
# Guess: True
print(sugar_1980[3] < sugar_1990[5])

True
False
True

In [31]:
# Your Turn: Create and print another true expression and another false
# expression using the elements in the lists.

print()
# Answer: False
print(sugar_1990[3] > sugar_1980[2])

# Answer: True
print(sugar_2000[2] > sugar_1990[3])

False
True

In [33]:
#EXAMPLE#
"""
Decide whether the following Boolean statements are true or false.
Add the print function to the statements to check your answers.
"""

print()

# Take a guess and then add the print function to check
# Guess: True
sugar_1980[3] < sugar_1990[4] or sugar_1980[3] == sugar_2010[5]
# Take a guess and then add the print function to check
# Guess: False
sugar_2000[2] < sugar_2010[5] and sugar_1990[0] < sugar_2010[1]

False

In [35]:
# Your Turn: Create and print a true Boolean statement that uses 'or' 
# and a false Boolean statement that uses 'and'

print()

# Answer: True
print(sugar_1990[2] < sugar_2010[5] or sugar_1980[0] == sugar_1990[1])
# Take a guess and then add the print function to check
# Answer: False
print(sugar_2010[1] > sugar_2000[2] and sugar_1980[0] < sugar_1990[5])

True
False

In [37]:
#EXAMPLE#
countries = ["Australia", "Egypt", "Greece", "India", "Jamaica", "Mexico",
"Spain", "United States"]
sugar_1980 = [152, 71.8, 73.5 ,52.2, 153, 124, 83.7, 158]
sugar_1990 = [137, 86.6, 87.3, 56, 142, 141, 76.1, 173]
sugar_2000 = [123, 82.1, 90.4, 63.7, 161, 132, 81, 189]
sugar_2010 = [126, 81.2, 77.3, 59.9, 137, 136, 83.2, 167]

In [44]:
'''
To find the average, or the mean, of a set of data you would add all of the numbers and divide by the number of items in the set.

To find the range of a dataset, you would subtract the smallest value from the largest value in the set.

There is not a built-in function for determining the average (mean) or the range of each list. However, you are able to use the functions weâ€™ve learned about to compute these values.

Answer the following questions using the functions max(), min(), sum() and len().

Compute and print the average amount of sugar consumed in 2010.

Compute and print the range of the 1990 sugar consumption list.

Compute and print the average amount of sugar consumed in total using all of the values in the four sugar consumption lists.

Challenge: Determine the average amount of sugar consumed by the United States in the four decades shown.

Extend: What do these findings tell you about sugar consumption?
'''
# average sugar consumed in 2010
sum = 0
for x in range(0, len(sugar_2010), 1):
    sum = sum + sugar_2010[x]
average = sum/len(sugar_2010)

print (average)

# range of sugar consumed in 1990
min = sugar_1990[0]
max = sugar_1990[0]
for y in range (0, len(sugar_1990)-1, 1):
    if (min > sugar_1990[y]):
        min = sugar_1990[y]
        
    elif (sugar_1990[y] > max):
        max = sugar_1990[y]
range = max - min
print (range)

# average of sugar consumed in total for all four decades
total = 0
for a in range(0, len(sugar_1980), 1):
    total = total + sugar_1980[a]

for b in range(0, len(sugar_1990), 1):
    total = total + sugar_1990[b]
    
for c in range(0, len(sugar_2000), 1):
    total = total + sugar_2000[c]
    
for d in range(0, len(sugar_2010), 1):
    total = total + sugar_2010[d]

average = total/ (len(sugar_1980) + len(sugar_1990) + len(sugar_2000) + len(sugar_2010))

print (average)

# Challenge: average sugar consumed by the United States 
# over the four decades

TypeError: 'int' object is not callable