In [36]:
#Create a list for the height_in_inches column that consists of all  of the values in that column.

heights = [71, 69, 70, 71, 68, 70, 70]

In [37]:
# Your Turn: Create a list for the name, weight, and 
# net_worth columns.

names = ["Jin", "Suga", "J-Hope", "RM", "Jimin", "V", "Jungkook"]
weights = [136, 138, 132, 145, 143, 137, 145]
net_worths = [8, 8, 12, 8, 8, 8, 8]

In [38]:
#Print the data type of the elements in the height list. 
print()
print("Height elements are stored as " + str(type(heights[0])))

Height elements are stored as <class 'int'>

In [39]:
# Your Turn: Print the data types of the elements in the other lists. 
print("Name elements are stored as " + str(type(names[0])))
print("Weight elements are stored as " + str(type(weights[0])))
print("Net worth elements are stored as " + str(type(net_worths[0])))

Name elements are stored as <class 'str'>
Weight elements are stored as <class 'int'>
Net worth elements are stored as <class 'int'>

In [40]:
#Print the length of the heights list, the max value, the min value and the sum of the heights list.


print()
print("The length of the heights list is " + str(len(heights)))
print("The minimum height is " + str(min(heights)))
print("The maximum height is " + str(max(heights)))
print("The sum of all heights is " + str(sum(heights)))

The length of the heights list is 7
The minimum height is 68
The maximum height is 71
The sum of all heights is 489

In [63]:
# Your Turn: Print the length, the max value, the min value and the 
# sum of the other lists. Note: The sum function will not work on a string.
# How do you suppose the min and max work with strings based on what
# is printed?

# names 
print("The length of the names list is " + str(len(names)))

min_name = "                 "
for name in names:
    if (len(name) < len(min_name)): 
        min_name = name
    
print("The shortest name is " + min_name)

max_name = ""
for name in names:
    if (len(name) > len(max_name)): 
        max_name = name

print("The longest name is " + max_name)

total = 0
for name in names:
    total += len(name)

print("The sum of all names is " + str(total))

#weights 
print("")
print("The length of the weights list is " + str(len(weights)))
print("The minimum weight is " + str(min(weights)))
print("The maximum weight is " + str(max(weights)))
print("The sum of all weights is " + str(sum(weights)))

#net worths 
print("")
print("The length of the net worths list is " + str(len(net_worths)))
print("The minimum net worth is " + str(min(net_worths)))
print("The maximum net worth is " + str(max(net_worths)))
print("The sum of all net worths is " + str(sum(net_worths)))

The length of the names list is 7
The shortest name is V
The longest name is Jungkook
The sum of all names is 29

The length of the weights list is 7
The minimum weight is 132
The maximum weight is 145
The sum of all weights is 976

The length of the net worths list is 7
The minimum net worth is 8
The maximum net worth is 12
The sum of all net worths is 60

In [59]:
countries = ["Australia", "Egypt", "Greece", "India", "Jamaica", "Mexico",
"Spain", "United States"]
sugar_1980 = [152, 71.8, 73.5, 52.2, 153, 124, 83.7, 158]
sugar_1990 = [137, 86.6, 87.3, 56, 142, 141, 76.1, 173]
sugar_2000 = [123, 82.1, 90.4, 63.7, 161, 132, 81, 189]
sugar_2010 = [126, 81.2, 77.3, 59.9, 137, 136, 83.2, 167]

"""
Add the sugar consumed in 1980 and 1990 lists. Print the result. 
What happens?
"""

print()
print(sugar_1980 + sugar_1990)

[152, 71.8, 73.5, 52.2, 153, 124, 83.7, 158, 137, 86.6, 87.3, 56, 142, 141, 76.1, 173]
AustraliaEgyptGreeceIndiaJamaicaMexicoSpainUnited States

In [60]:
# Your Turn: Add the countries and the sugar_2010 list. Print the result.
# What happens here?

print(countries + sugar_2010)
# Appends sugar_2010 list to countries list

['Australia', 'Egypt', 'Greece', 'India', 'Jamaica', 'Mexico', 'Spain', 'United States', 126, 81.2, 77.3, 59.9, 137, 136, 83.2, 167]

In [44]:
"""
Add an element from the sugar_1990 list to an element 
from the sugar_2000 list. 
Print the result.
"""
print()
print("First element in sugar_1990 + first element in sugar_2000 = " 
+ str(sugar_1990[0] + sugar_2000[0]))

First element in sugar_1990 + first element in sugar_2000 = 260

In [64]:
# Your Turn: Add the first two elements of the countries list. 
# Print the result. What happens here?

print("First two elements of the countries list = " 
+ str(countries[0] + countries[1]))

First two elements of the countries list = AustraliaEgypt

In [66]:
"""
Decide whether the following expressions are true or false. 
Add the print function to the expressions to check your answers.
"""

print()
print(sugar_1990[0] > sugar_1980[1])  # prints True

# Take a guess and then add the print function to check
# Guess:
print( sugar_2010[0] == sugar_2000[1] ) # false 

# Take a guess and then add the print function to check
# Guess:
print( sugar_1980[3] < sugar_1990[5]  ) # false

True
False
True

In [47]:
# Your Turn: Create and print another true expression and another false
# expression using the elements in the lists.

print( )

In [67]:
"""
Decide whether the following Boolean statements are true or false.
Add the print function to the statements to check your answers.
"""

print()

# Take a guess and then add the print function to check
# Guess:
print(sugar_1980[3] < sugar_1990[4] or sugar_1980[3] == sugar_2010[5]) # true 

# Take a guess and then add the print function to check
# Guess:
print( sugar_2000[2] < sugar_2010[5] and sugar_1990[0] < sugar_2010[1]) # false

True
False

In [49]:
# Your Turn: Create and print a true Boolean statement that uses 'or' 
# and a false Boolean statement that uses 'and'

In [50]:
countries = ["Australia", "Egypt", "Greece", "India", "Jamaica", "Mexico",
"Spain", "United States"]
sugar_1980 = [152, 71.8, 73.5 ,52.2, 153, 124, 83.7, 158]
sugar_1990 = [137, 86.6, 87.3, 56, 142, 141, 76.1, 173]
sugar_2000 = [123, 82.1, 90.4, 63.7, 161, 132, 81, 189]
sugar_2010 = [126, 81.2, 77.3, 59.9, 137, 136, 83.2, 167]

In [51]:
'''
To find the average, or the mean, of a set of data you would add all of the numbers and divide by the number of items in the set.

To find the range of a dataset, you would subtract the smallest value from the largest value in the set.

There is not a built-in function for determining the average (mean) or the range of each list. However, you are able to use the functions we’ve learned about to compute these values.

Answer the following questions using the functions max(), min(), sum() and len().

Compute and print the average amount of sugar consumed in 2010.


Compute and print the range of the 1990 sugar consumption list.

Compute and print the average amount of sugar consumed in total using all of the values in the four sugar consumption lists.

Challenge: Determine the average amount of sugar consumed by the United States in the four decades shown.

Extend: What do these findings tell you about sugar consumption?
'''
# average sugar consumed in 2010

print( str( sum(sugar_2010) / len(sugar_2010 )))


# range of sugar consumed in 1990

print( max(sugar_1990) - min(sugar_1990) )


# average of sugar consumed in total for all four decades


# Challenge: average sugar consumed by the United States 
# over the four decades

'\nTo find the average, or the mean, of a set of data you would add all of the numbers and divide by the number of items in the set.\n\nTo find the range of a dataset, you would subtract the smallest value from the largest value in the set.\n\nThere is not a built-in function for determining the average (mean) or the range of each list. However, you are able to use the functions we’ve learned about to compute these values.\n\nAnswer the following questions using the functions max(), min(), sum() and len().\n\nCompute and print the average amount of sugar consumed in 2010.\n\nCompute and print the range of the 1990 sugar consumption list.\n\nCompute and print the average amount of sugar consumed in total using all of the values in the four sugar consumption lists.\n\nChallenge: Determine the average amount of sugar consumed by the United States in the four decades shown.\n\nExtend: What do these findings tell you about sugar consumption?\n'